{erl_opts, [
	   debug_info
]}.
{deps, []}.
{dialyzer, [
    {warnings, [
        unknown,
        unmatched_returns,
        error_handling,
        underspecs,
        extra_return,
        missing_return
    ]},
    {plt_extra_apps, []},
    {exclude_apps, [lfe]}
]}.
{edoc_opts, [
  {dir, "edoc"},
  {preprocess, true}
  ]}.
  	    
{shell, [
  % {config, "config/sys.config"},
    {apps, [els]}
]}.
